{% extends 'base.html' %}
{% block nav3_active %}active{% endblock %}

{% block title %}
	Asignatura: Introducción a la Programación
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/media/css/bootstrap.css">
<link rel="stylesheet" href="/media/css/estilo.css">
{% endblock %}
{% block js %}
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/deletecreation_groups.js"></script>
<script type="text/javascript" src="/media/js/selectRows.js"></script>
<script type="text/javascript">


function obtenerDatos(){
    var ids = [{% for x in usr %}                           
                "{{ x.id }}",               
        {% endfor %}];
    var nombres = [{% for x in usr %}                           
                "{{ x.username }}",             
        {% endfor %}];
};
/*
for (var x=0;x<ids.length;x++){

    alert(ids[x] +" - "+nombres[x]);
};
    accion(ids,nombres);
};



$(document).ready(function() {
    $("#tabla_sin_grupos tbody tr").click(function(e) {
        var currentCellText = $(this).children().text();        // dato de la celda
        alert(currentCellText);
    });

});


function obtenerDatos(){
	var ids = [{% for x in usr %}							
				"{{ x.id }}",				
		{% endfor %}];
	var nombres = [{% for x in usr %}							
				"{{ x.username }}",				
		{% endfor %}];

for (var x=0;x<ids.length;x++){

	alert(ids[x] +" - "+nombres[x]);
};
	accion(ids,nombres);
};*/
</script>

{% endblock %}

{% block tabs %}
<ul class="nav nav-tabs">
  <li ><a href="/properties/">Propiedades</a></li>
  <li class="active"><a href="/distribution1/">Alumnos</a></li>
  <li ><a href="#">Formularios</a></li>
</ul>
{% endblock tabs %}	

{% block content %}
		
		<div class="contenedor-principal">

			
			<div class="sub-contenedor1">
				<div class = "botones0">
					<p>
						<a href="#" class="btn btn-primary">Nueva Distribución</a>
					</p>
					<p>	
						<a href="/ingresar" class="btn btn-primary">Cargar Ultima Configuración</a>
					</p>

					<select>
					<option>[INFO 125] Taller de Ingenieria</option>
					<option>[INFO 013] Introduccion a la Programacion</option>
					<option>...</option>
					</select>
					<a href="{% url vista_agregar_alumno1 %}" class="btn btn-success" id="btn-agregar-alumno">Agregar Alumno
					</a>
					<p>
						<strong> Alumnos sin grupos: </strong>
					</p>					
				</div>
				
				<!--<div class="division1"></div>-->
				<div class ="botones_asignacion">
					<div class="boton-verde"><a href="/ingresar"></a></div>
					<div class="boton-rojo"><a href="/ingresar"></a></div>					
				</div>	
				
				
				<div id="tabla_singrupos">
					<table class="table" id="tabla_sin_grupos">
					<thead>
						<tr>
						<td> <strong> ID  </strong></td>
						<td> <strong> Nombre </strong></td>
						</tr>
					</thead>		
					<tbody>	
					
						{% for x in usr %}							
							<tr>						
								<td align="justify"  nowrap> {{ x.id }}</td>
								<td align="justify"  nowrap> {{ x.username }}</td>
								
							</tr>
							
						
							
						{% endfor %}
						<tr>
								<td  nowrap> 8 </td>
								<td  nowrap> Peter Capusotto </td>
						</tr>
						<tr>
								<td  nowrap> 9 </td>
								<td  nowrap> Juan Pablovish </td>
						</tr>

					</tbody>
					</table>		
				</div>
				


			
			</div>

			<div class="sub-contenedor2">
				
				<div id="botones2">
				<p>
				<button type="submit" class="btn btn-primary" id = "crear_grupo">Crear Grupo</button>
				</p>
				<p>
				<button type="submit" class="btn btn-danger" id = "borrar_grupo">Eliminar Grupo</button>
				</p>
				</div>					
				
				<div class="tabla_grupos">				
				<table class="table" id="tabla_de_grupos">
				<thead>
					<tr><td><strong>Grupos asignados</strong></td></tr>
				</thead>						
				<tbody>
				</tbody>					
				</table>
				</div>

				

				<div class="division2"></div>
				<p id="grupo"></p>
				
				<div class="tabla_asignados">
				<table class="table" id="tabla_grupos_asignados">					
					<thead>
						<tr>
						<td> <strong> ID  </strong></td>
						<td> <strong> Nombre </strong></td>
						</tr>
					</thead>		
					<tbody>						
					</tbody>
				</table>
				</div>
			
			

			</div>
	

		<div id="botones1">									
			<button type="submit" class="btn btn-primary" id="asignar">Asignar</button>			
			<form action="." method="GET"><button type="submit" class="btn btn-primary">Guardar Distribución</button></form>		
			<button type="submit" class="btn btn-primary" id="desasignar">Desasignar</button>			
		</div>
	
	<p id="para" />

	</div>
	
	

<footer>
	
</footer>


{% endblock %}