{% extends 'base.html' %}
{% block title %}
	Mi Cuenta
{% endblock %}
{% block content %}
	<ul class="nav nav-tabs" >
			<li > <a href="#">Inicio</a></li>			
			<li> <a href="#">Crear Formulario</a></li>				
			<li > <a href="{% url vista_subjects %}">Ver Asignaturas*</a></li>
			<li class="active"> <a href="{% url vista_account %}">Gestionar Cuenta*</a></li>
			<li> 
				<a Align="Right" href="{% url vista_logout %}">Cerrar Sesion</a>
			    
			</li>		
	</ul>

	<div align=Center>
		{{texto}}
		
		<form action="." method="POST">
			{% csrf_token %}	
			{{form.as_p}}
			<button type="submit" class="btn btn-danger" > 
				Guardar Cambios
			</button>
		</form>
			
	</div>
{% endblock %}