{% extends 'base.html' %}
{% block title %}
	Pagina-Intermedia
{% endblock %}
{% block content %}
	<div class="logout"><a Align="Right" href="{% url vista_logout %}">Cerrar Sesion</a><div>
	<div class="menu_principal">
	<ul class="nav nav-pills" >
			<li > <a href="{% vista_principal %}">Estado Actual</a></li>			
			<li> <a href="#">Formularios</a></li>				
			<li > <a href="{% url vista_subjects %}">Evaluaciones</a></li>
			<li> <a href="{% url vista_account %}">Mi Cuenta*</a></li>
		
			
	</ul>
	</div>
	
{% endblock %}