{% extends 'base.html' %}
{% block title %}
	Bienvenido Profesor
{% endblock %}
{% block content %}

<ul class="nav nav-tabs" >
			<li class="active"> <a href="#">Inicio</a></li>			
			<li> <a href="#">Crear Formulario</a></li>				
			<li> <a href="{% url vista_subjects %}">Ver Asignaturas*</a></li>
			<li> <a href="{% url vista_account %}">Gestionar Cuenta*</a></li>
			<li> 
				<a Align="Right" href="{% url vista_logout %}">Cerrar Sesion</a>
			    
			</li>		
		
			
</ul>
	<!--<DIV Align=Center>
		<h3> Seleccione la función a realizar </h3>
		<button type="button" class = "btn btn-large btn-primary">
			<b> Crear evaluaciòn </b>
		</button> <br><br>
		<button type="button" class = "btn btn-large btn-primary">
			<b> Crear formulario </b>
		</button> <br><br>
		<button type="button" class = "btn btn-large btn-primary">
			<b> Agregar alumnos </b>
		</button>
	</DIV>
	-->
{% endblock %}
