{% extends 'base.html' %}
{% block nav3_active %}active{% endblock %}

{% block title %}
	Asignatura: Introducción a la Programación
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/media/css/bootstrap.css">
<link rel="stylesheet" href="/media/css/estilo.css">
{% endblock %}

{% block js %}{% endblock %}

{% block tabs %}
<ul class="nav nav-tabs">
  <li class="active"><a href="/properties/">Propiedades</a></li>
  <li ><a href="/distribution1/">Alumnos</a></li>
  <li ><a href="#">Formularios</a></li>
</ul>
{% endblock tabs %}	
{% block content %}



{% endblock %}