{% extends 'base.html' %}
{% block title %}
	Recuperar Contraseña
{% endblock %}
{% block content %}
	<DIV Align=Center>
		<h2> Recuperar Contraseña </h2>
		{% if info_enviado %}
			Información enviada al correo destino {{email}} <br>
			Mi pass es: {{pwd}}
		{% else %}
			<p> Ingrese su dirección de correo electrónico para enviarle la información necesaria para recuperar su contraseña </p>

			<form action="." method="POST">
				{% csrf_token %}
				Correo Electrónico: 
				<input type="text" name ="Email" placeholder="Escriba su correo aquí..."/>				
				<button type="submit" style="margin-bottom:9px" class="btn btn-warning" > 
					Reestablecer Contraseña
				</button>
			</form>
		{% endif %}
	</DIV>
{% endblock %}