{% extends 'base.html' %}
{% block title %}
	Asignaturas
{% endblock %}
{% block content %}
<div class = "menu_principal">
<ul class="nav nav-pills" >
			<li > <a href="#">Estado Actual</a></li>			
			<li> <a href="#">Formularios</a></li>				
			<li class="active" > <a href="{% url vista_evaluation1 %}">Evaluaciones</a></li>
			<li > <a href="{% url vista_account %}">Mi Cuenta</a></li>
		
			
		</ul>
</div>
<div class="logout"><a Align="Right" href="{% url vista_logout %}">Cerrar Sesion</a></div>


	<table class="table table-striped">
		<thead>
			<tr>
				<th>Código</th>
				<th>Nombre</th>
				<th>Semestre</th>
				<th>Año</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>INFO 013</td>
				<td>Introduccion a la Programacion</td>
				<td>II</td>
				<td>2012</td>
				<td><a href="{% url vista_subject1 %}" class="btn">Ver</button></td>

			</tr>
			<tr>
				<td>INFO 015</td>
				<td>Taller de Ingenieria I</td>
				<td>I</td>
				<td>2012</td>
				<td><a href="#" class="btn">Ver</button></td>
			</tr>
			<tr>
				<td>INFO 012</td>
				<td>Programacion I</td>
				<td>II</td>
				<td>2012</td>
				<td><a href="#" class="btn">Ver</a></td>
			</tr>
		</tbody>
	</table>

{% for i in alum %}
	{{ i }}
{% endfor %}

<footer Align="Left">
	<a href="/" class="btn btn-primary">Volver</a>
</footer>
{% endblock %}