{% extends "base.html" %}

{% block nav %}{% endblock nav %}

{% block content %}

<form class="form-horizontal" method="post" action="/login/">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

{% if form.errors %}
<p class="text-error">El nombre de usuario o la contraseña introducidos no son correctos.</p>
{% endif %}

  <div class="control-group">
    <label class="control-label" for="u">Usuario:</label>
    <div class="controls">
      <input type="text" id="u" name="{{ form.username.name }}" placeholder="Nombre de usuario">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="p">Contraseña:</label>
    <div class="controls">
      <input type="password" id="p" name="{{ form.password.name }}" placeholder="Contraseña">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Ingresar</button>
    </div>
  </div>
</form>

{% endblock content %}
