{# requiere parámetros total_pages, page_list y current_page #}
{% load more_tags %}
<div class="pagination pagination-right pagination-small">
  {% if total_pages > 1 %}
  <ul>
    <li{% if current_page == 1 %} class="disabled"{% endif %}>
      <a href="{% if current_page != 1 %}{% url_with request.get_full_path 'page' current_page|add:'-1' %}{% else %}#{% endif %}">&lt;</a>
    </li>

{% for p in page_list %}
    <li{% if p == current_page %} class="active"{% endif %}>
      <a href="{% if p != current_page %}{% url_with request.get_full_path 'page' p %}{% else %}#{% endif %}">{{ p }}</a>
    </li>
{% endfor %}

    <li{% if current_page == total_pages %} class="disabled"{% endif %}>
      <a href="{% if current_page != total_pages %}{% url_with request.get_full_path 'page' current_page|add:1 %}{% else %}#{% endif %}">&gt;</a>
    </li>
  </ul>
  {% endif %}
</div>
