{# requiere num_p y form_p, que representan el número y formulario de la pregunta #}
<div id="pregunta_{{ num_p }}" class="row pregunta" style="padding-bottom: 30px;">
  <div class="span1">
    <span class="badge" title="Pregunta número {{ num_p }}">{{ num_p }}</span>
  </div>
  <div class="span10">
  <div style="border-left: 1px solid #dddddd; border-right: 1px solid #dddddd; padding-left: 12px; padding-right: 12px;">

    {# Mensajes de error generales y para campos específicos. Incluyen los de las opciones. #}
    {% for err in form_p.non_field_errors %}
    <p class="text-error">{{ err }}</p>
    {% endfor %}
    {% for field in form_p %}
    {% for err in field.errors %}
    <p class="text-error">{{ field.label }}: {{ err }}</p>
    {% endfor %}
    {% endfor %}

    <div class="form-inline">
      <textarea name="texto_{{ num_p }}" class="input-xxlarge" style="resize: none;" placeholder="Ingrese pregunta" title="Glosa o enunciado">{% if form_p.texto.value %}{{ form_p.texto.value }}{% endif %}</textarea>
      <label class="control-label" for="id_tipo_{{ num_p }}">Tipo:</label>
      <select id="id_tipo_{{ num_p }}" name="tipo_{{ num_p }}" class="input-medium cambiar-tipo" pregunta_id="{{ num_p }}">
        {% for k, v in form_p.tipo.field.choices %}
        <option value="{{ k }}"{% if k == form_p.tipo.value %} selected="selected"{% endif %}>{{ v }}</option>
        {% endfor %}
      </select>
    </div>

    <div>
      <p class="form-inline" style="padding-top: 10px;">
        <label class="control-label" for="id_ponderacion_{{ num_p }}">Ponderación:</label>
        <input type="text" class="input-small" id="id_ponderacion_{{ num_p }}" name="ponderacion_{{ num_p }}" value="{{ form_p.ponderacion.value|default_if_none:"1" }}">
      </p>
    </div>

    {# desde aquí todo es variable, dependiendo de lo seleccionado en el combobox 'tipo' #}
    <div class="numerico" style="display: none;">
      <p class="form-inline" style="padding-top: 10px;">
        <label class="control-label" for="id_valor_min_{{ num_p }}">Mínimo:</label>
        <input type="text" class="input-small" id="id_valor_min_{{ num_p }}" name="valor_min_{{ num_p }}" value="{{ form_p.valor_min.value|default_if_none:"" }}">
        <label class="control-label" for="id_valor_max_{{ num_p }}">Máximo:</label>
        <input type="text" class="input-small" id="id_valor_max_{{ num_p }}" name="valor_max_{{ num_p }}" value="{{ form_p.valor_max.value|default_if_none:"" }}">
      </p>
      <p class="form-inline" style="padding-top: 10px">
        {% for k, v in form_p.formato.field.choices %}{% if not forloop.first %}
        <input type="radio" id="{{ k }}_{{ num_p }}" name="formato_{{ num_p }}" value="{{ k }}"{% if k == form_p.formato.value %} checked="checked"{% endif %}>
        <label class="checkbox control-label" for="{{ k }}_{{ num_p }}">{{ v }}</label>
        {% endif %}{% endfor %}
      </p>
    </div>

    <div class="opciones" style="padding-top: 10px">
      <ul class="unstyled lista-opciones">
{% for op in form_p.opciones %}
{% include "formularios/form_opcion.html" with op=op cont=forloop.counter %}
{% endfor %}
      </ul>
      <button type="button" class="btn btn-primary btn-small agregar-opcion" title="Agregar opción" pregunta_id="{{ num_p }}"><i class="icon-plus icon-white"></i> Agregar opción</button>
    </div>

    <input type="hidden" class="total-opciones" id="total_opciones_{{ num_p }}" name="total_opciones_{{ num_p }}" value="{{ form_p.opciones|length }}">
  </div>
  </div>
  <div class="span1">
    {# botones de reordenamiento y para borrar #}
    <div class="btn-group btn-group-vertical">
      <button type="button" class="btn btn-small subir-pregunta" title="Subir pregunta" pregunta_id="{{ num_p }}">
        <i class="icon-chevron-up"></i>
      </button>
      <button type="button" class="btn btn-small btn-danger borrar-pregunta" title="Eliminar pregunta" pregunta_id="{{ num_p }}">
        <i class="icon-remove icon-white"></i>
      </button>
      <button type="button" class="btn btn-small bajar-pregunta" title="Bajar pregunta" pregunta_id="{{ num_p }}">
        <i class="icon-chevron-down"></i>
      </button>
    </div>
  </div>
</div>
