{# requiere formulario de opción 'op', contador 'cont' y un numero de pregunta 'num_p' #}
<li id="opcion_{{ cont }}_{{ num_p }}" class="form-inline opcion">
  <input type="text" name="rubrica_{{ cont }}_{{ num_p }}" value="{{ op.rubrica.value|default_if_none:"" }}" placeholder="Ingrese opción" title="Rúbrica">
  <input type="text" class="input-mini" name="puntaje_{{ cont }}_{{ num_p }}" value="{{ op.puntaje.value|default_if_none:"" }}" placeholder="Puntaje" title="Puntaje">
  <div class="btn-group">
    <button type="button" class="btn-mini btn-success subir-opcion" title="Subir opción" pregunta_id="{{ num_p }}" opcion_id="{{ cont }}"><i class="icon-chevron-up icon-white"></i></button>
    <button type="button" class="btn-mini btn-success bajar-opcion" title="Bajar opción" pregunta_id="{{ num_p }}" opcion_id="{{ cont }}"><i class="icon-chevron-down icon-white"></i></button>
    <button type="button" class="btn-mini btn-danger borrar-opcion" title="Borrar opción" pregunta_id="{{ num_p }}" opcion_id="{{ cont }}"><i class="icon-remove icon-white"></i></button>
  </div>
</li>
